{% extends "base.html" %}

  {% block title %}<title>Calendar</title>{% endblock %}

  {% block extra_head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" type='text/css'>
    {% load static %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
  {% endblock %}


  {% block content %}
    <div class = "row">
      <div class = "col s10 pull-s1 push-s1">
        <div class = "card z-depth-5">
          <div class="container">
            <br>
            <div class="row center-align valign-wrapper">
              <div class="col s2 offset-s5">
              <a href="{% url 'create-event' %}">
                <button class="btn waves-effect waves-light col s11 offset-s1">New Event
                  <i class="material-icons right">insert_drive_file</i>
                </button>
              </a>
            </div>
            </div>
            <div id='calendar'></div>
            <br>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
          events: [
            {% for event in events %}
              {
                title: '{{ event.title }}',
                start: '{{ event.start_time }}',
                end: '{{ event.end_time }}',
              },
            {% endfor %}
          ],
          displayEventTime: false
        })
      });
    </script>
  {% endblock %}
