{% extends 'base.html' %}

<title>Forgotten Password</title>

{% extends "base.html" %}
{% block extra_head %} {% load static %}
<link href="{% static 'css/password_reset.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class = "card z-depth-5">
    <div class="container">
            <div class="row">
              <div class="col-sm-4">
                    <h1>The password has been changed!</h1>
                    <p><a href="{% url 'login' %}">log in again?</a></p>
              </div>
            </div>
    </div>
</div>

{% block content %}
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </p>
{% endblock %}