{% extends "base.html" %}
<title>Forgot Password</title>


  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>


{% block extra_head %} {% load static %}
<link href="{% static 'css/password_reset.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class = "card z-depth-5">
    <div class="container">
            <div class="row">
              <div class="col-sm-4">
              <p>Email Address:</p>
                <form action="" method="post">{% csrf_token %}
                    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                        <p>{{ form.email }}</p>
                    <input type="submit" class="waves-light btn" value="Reset password" placeholder="email address" />
                </form>
              </div>
            </div>
    </div>
</div>
{% endblock %}
