{% extends 'base.html' %}

<title>Forgotten Password</title>

{% block extra_head %} {% load static %}
<link href="{% static 'css/password_reset.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class = "card z-depth-5">
    <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
              </div>
            </div>
    </div>
</div>
{% endblock %}