#form-card {
    background: #f1f8e9;
    position: absolute;
    width: 70%;
    min-height: 20%;
    max-height: 70%;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#form-card > p {
    font-size: 2em;
}

form  {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

select {
  display: block;
}

textarea {
  height: 200px;
}
